@tailwind base;
@tailwind components;
@tailwind utilities;

/* Better font rendering */
body {
  @apply bg-gray-50 dark:bg-[#0D1117] text-gray-900 dark:text-white;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar but allow scroll */
::-webkit-scrollbar {
  width: 0px;
}

/* Smooth transitions */
* {
  @apply transition-colors duration-200;
}